<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
<%= image_tag(@adventure.picture_url, :width => 600) if @adventure.picture.present? %>
</p>

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
